html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #95e1d3;
  --title-text: #333333;
  --text: #999999;
  --hover: #f38181;
  --section-title: #333333;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.logo,
.nav-links,
.footer-author-link,
.social-link,
.sevice-links {
  text-decoration: none;
}
.nav-list,
.service-list,
.team-list,
.overlay-icons-list {
  list-style: none;
}

.logo,
.nav-links,
.social-link,
.sevice-links,
.photo {
  display: block;
}

/* Navigation */
.header {
  display: flex;
  min-height: 50px;
  align-items: flex-end;
  justify-content: space-between;
}
h1 {
  margin: 0;
}

.logo {
  font-family: "Montserrat-Bold", serif;
  font-size: 30px;
  color: var(--main-color);
}

.nav-list {
  display: flex;
  min-width: 491px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-item {
  position: relative;
}
.nav-links {
  text-transform: uppercase;
  font-family: "Montserrat-Regular", serif;
  font-size: 14px;
  color: var(--main-color);
  transition: color 0.2s linear;
}
.nav-links::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--hover);
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.4s;
}

.nav-links:hover {
  color: var(--hover);
}
.nav-links:focus {
  color: var(--hover);
}
.nav-item:hover > .nav-links::after {
  opacity: 1;
}

/* section SERVICE */
.services {
  padding-top: 128px;
  padding-bottom: 82px;
}
.section-title {
  position: relative;
  text-align: center;
  margin-bottom: 108px;
}
.section-title span {
  display: block;
}
.section-title-cursive {
  font-family: "KaushanScript-Regular", serif;
  font-size: 24px;
  line-height: 29px;
  color: var(--section-title);
  margin-bottom: 17px;
}
.section-title-cursive::first-letter {
  text-transform: uppercase;
}
.section-title-bold {
  text-transform: uppercase;
  font-family: "Montserrat-Bold", serif;
  font-size: 30px;
  line-height: 36px;
  color: var(--section-title);
}
.section-title::after {
  position: absolute;
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: var(--hover);
  left: 50%;
  transform: translateX(-50%);
  top: 110px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-items {
  display: flex;
}

.service-items::before {
  content: "";
  width: 80px;
  height: 35px;
  background-image: url(../img/Icons/icon_first.png);
  background-repeat: no-repeat;
  background-position: center;
}

.service-items:nth-child(2)::before {
  background-image: url(../img/Icons/icon-second.png);
}
.service-items:nth-child(3)::before {
  background-image: url(../img/Icons/icon-third.png);
}
.service-items:nth-child(4)::before {
  background-image: url(../img/Icons/icon-fourth.png);
}
.service-items:nth-child(5)::before {
  background-image: url(../img/Icons/icon-fifth.png);
}
.service-items:nth-child(6)::before {
  background-image: url(../img/Icons/icon-sixth.png);
}
.service-item-text {
  width: 300px;
}
.text-items-title {
  text-transform: uppercase;
  font-family: "Montserrat-Regular", serif;
  font-size: 14px;
  line-height: 17px;
  color: var(--text);
  margin-bottom: 19px;
}
.text-items {
  font-family: "Roboto-Regular", serif;
  font-size: 15px;
  line-height: 24px;
  color: var(--text);
}
.service-items:not(:nth-last-child(-n + 3)) {
  margin-bottom: 89px;
}

/* section TEAM */

.our-team {
  padding-bottom: 83px;
}

.section-title.team {
  margin-bottom: 92px;
}
.section-team-text {
  font-family: "Roboto-Regular", serif;
  font-size: 15px;
  color: var(--text);
  text-align: center;
  line-height: 24px;
  margin-bottom: 82px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-photo {
  position: relative;
  margin-bottom: 30px;
  transition: transform 0.2s linear;
}
.overlay {
  position: absolute;
  width: 380px;
  height: 470px;
  left: 0;
  top: 0;
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  box-shadow: 10px 10px #95e1d3;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.overlay-icons-list {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 
}
.overlay-icons-items {
  background-color: #fce38a;
}
.overlay-icons-items:not(:last-child) {
  border-right: 1px solid #f9bd87;
}

.team-photo:hover > .overlay {
  opacity: 1;
}
.team-photo:hover {
  transform: translate(-10px, -10px);
}

.social-link {
  width: 55px;
  height: 56px;
  background-image: url(../img/Icons/spritesheet_social.png);
  background-repeat: no-repeat;
  transition: background-color 0.2s linear;
}
.social-link:hover {
  background-color: #95e1d3;
}
.facebook {
  background-position: -5px -5px;
}
.twitter {
  background-position: -71px -5px;
}
.pinterest {
  background-position: -137px -5px;
}

.instagram {
  background-position: -203px -5px;
}

figcaption p {
  text-align: center;
}
.photo-name {
  text-transform: uppercase;
  font-family: "Montserrat-Regular", serif;
  font-size: 14px;
  color: var(--title-text);
  margin-bottom: 13px;
}
.photo-prof {
  font-family: "Roboto-LightItalic", serif;
  font-size: 15px;
  color: var(--text);
}

/* FOOTER */
.footer {
  border-top: 1px solid #e5e5e5;
  min-height: 63px;
  display: flex;
  align-items: center;
}
.address {
  flex-grow: 1;
}
.footer-author-link {
  font-family: "Montserrat-Regular", serif;
  font-size: 14px;
  color: var(--title-text);
  justify-content: space-between;
}
a > span {
  color: var(--hover);
}
.form {
  display: flex;
}
.button {
  border: none;
  width: 150px;
  height: 40px;
  background-color: var(--main-color);
  text-transform: uppercase;
  font-family: "Montserrat-Bold", serif;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}
.input {
  display: block;
  height: 40px;
  margin: 0;
  border: 1px solid #e5e5e5;
  border-right: none;
  padding-left: 12px;
  font-family: "Roboto-LightItalic", serif;
  font-size: 15px;
}
