:root {
    --gold-color: #fed136;
    --main-color: #222222;
    --semi-color: #777777;
    --form-color: #bbbbbb;
    --ff-Montserrat-Regular: "Montserrat-Regular";
    --ff-Montserrat-Bold: "Montserrat-Bold";
    --ff-WisdomScript_Felipa: "WisdomScript_Felipa";
    --ff-Merriweather-Italic: "Merriweather-Italic";
    --ff-RobotoSlab-Regular: "RobotoSlab-Regular";
  }