html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.wraper {
  width: 940px;
  margin: 0 auto;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 65px;
}
header a {
  display: block;
}
h1 {
  margin: 0;
}
h1 a {
  text-decoration: none;
  padding-left: 5px;
  color: var(--gold-color);
  font-family: var(--ff-WisdomScript_Felipa, serif);
  font-size: 26px;
  letter-spacing: 0.05em;
}
h1 a:first-letter {
  text-transform: uppercase;
}
.nav-list {
  list-style: none;
  min-width: 485px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-item-link {
  text-decoration: none;
  font-family: var(--ff-Montserrat-Regular, serif);
  font-size: 14px;
  color: var(--main-color);
  text-transform: uppercase;
  transition: color 0.2s;
}
.nav-item-link:hover {
  color: var(--gold-color);
}

/* MAIN */
.services {
  padding: 120px 0;
}
.services-title {
text-align: center;
margin-bottom: 72px;
}
.services-title span {
  display: block;
}
.title-upper {
  font-family: var(--ff-Montserrat-Bold, serif);
  font-size: 40px;
  letter-spacing: -0.025em;
  color: var(--main-color);
  margin-bottom: 16px;
  text-transform: uppercase;
}
.title-lower {
  font-family: var(--ff-Merriweather-Italic, serif);
  font-size: 16px;
  color: var(--semi-color);
}

.service-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service-item {
  width: 290px;
  text-align: center;
}
.service-item::before {
  content: "";
  display: block;
  width: 74px;
  height: 74px;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid var(--gold-color);
  border-radius: 50%;
  margin: 0 auto 24px;
}
.first-icon::before {
  background-image: url(../img/Icons/Icon-Basket.png);
}
.second-icon::before {
  background-image: url(../img/Icons/Icon-Laptop.png);
}
.third-icon::before {
  background-image: url(../img/Icons/Icon-Locked.png);
}
.service-item-title {
  font-family: var(--ff-Montserrat-Bold, serif);
  font-size: 18px;
  color: var(--main-color);
  margin-bottom: 17px;
}
.service-item-text {
  font-family: var(--ff-RobotoSlab-Regular, serif);
  font-size: 14px;
  color: var(--semi-color);
  letter-spacing: -0.025em;
  text-align: center;
  text-indent: 13px;
}

/* FOOTER */

.footer {
  height: 676px;
  min-width: 100vh;
  background-image: url(../img/Background-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 109px 0 115px;
}
.footer-form {
  width: 940px;
  margin: 0 auto;

}
.form-title {
  text-align: center;
  margin-bottom: 75px;
}

.form-title span {
  display: block;
}
.form-title .title-upper {
  color: white;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.form ul {
  list-style: none;
}

.form-item:not(:last-child) {
margin-bottom: 30px;
}

.form-item input,
.form textarea {
  width: 455px;
  height: 50px;
  border: 1px solid var(--form-color);
  border-radius: 3px;
  font-family: var(--ff-Montserrat-Bold, serif);
  font-size: 14px;
  color: var(--form-color);
  padding-left: 20px;
}
.form textarea {
  height: 210px;
  padding-top: 18px;
  resize: none;
 }
::placeholder {
  font-family: var(--ff-Montserrat-Bold, serif);
  font-size: 14px;
  color: var(--form-color);
  text-transform: uppercase;
}

input[name="name"]:invalid:not(:placeholder-shown),
input[name="email"]:invalid:not(:placeholder-shown),
textarea[name="message"]:invalid:not(:placeholder-shown) {
  outline: 1px solid #ff0000;
}
input[name="name"]:valid:not(:placeholder-shown),
input[name="email"]:valid:not(:placeholder-shown),
textarea[name="message"]:valid:not(:placeholder-shown) {
  outline: 1px solid #008f00;
}
form button {
  display: block;
  margin: 30px auto 0;
  background-color: rgb(254, 209, 54);
  width: 240px;
  height: 66px;
  border: none;
  border-radius: 3px;
  font-family: var(--ff-Montserrat-Bold, serif);
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  cursor: pointer;
}