:root {
    
    --masthead-color: #ffffff;
    --partners-title-color: #333333;
    --partners-text-color: #666666;
    --link-color: #ff4e50;

    --ff-Montserrat-Bold: "Montserrat-Bold";
    --ff-Roboto-Light: "Roboto-Light";
   
  }
  