html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --hover: #1abc9c;
}
.wrapper {
  margin: 0 auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.body {
  letter-spacing: -0.02em;
}
.header {
  padding-top: 38px;
  padding-bottom: 32px;
}

.logo,
.nav-links,
.products-item-links,
.footer-author-link {
  text-decoration: none;
}
.nav-list,
.products-list,
.slider-list,
.mask-icons-list {
  list-style: none;
}

.logo,
.nav-links,
.products-img,
.products-item-links {
  display: block;
}

/* Navigation */
.header-nav {
  width: 1110px;
  margin: 0 auto;
}
.logo {
  float: left;
  text-transform: uppercase;
  font-family: "RobotoLight", serif;
  font-size: 30px;
  color: #555252;
}
.logo:first-letter {
  font-family: "RobotoBlack", serif;
  color: var(--hover);
}
.nav-list {
  margin: 8px 0 0 0;
  float: right;
}
.nav-item {
  float: left;
}

.nav-item:not(:last-child) {
  margin-right: 35px;
}
.nav-links {
  text-transform: uppercase;
  font-family: "OpenSansBold", serif;
  font-size: 14px;
  color: #0f0101;
}
.nav-links:hover {
  color: var(--hover);
}
.nav-links:focus {
  color: var(--hover);
}

/* SLIDER */

.slider {
  height: 600px;
  width: 1600px;
  position: relative;
  margin: 0 auto;
}

.slider-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.slider-img::before {
  display: block;
  content: "";
  position: absolute;
  height: 600px;
  width: 1600px;
  background-color: rgba(0, 0, 2, 0.522);
  z-index: 1;
}
.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #ffffff;
  text-transform: uppercase;
}
.slider-text1 {
  font-size: 60px;
  font-family: "RobotoBlack";
}
.slider-text2 {
  font-size: 24px;
  font-family: "RobotoLight";
}
.slider-ctrl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: rgba(78, 198, 171, 0.651);
  width: 104px;
  height: 104px;
  z-index: 2;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
.ctrl-left {
  background-image: url(../img/Icons/chevron-left.png);
  left: 245px;
}
.ctrl-right {
  background-image: url(../img/Icons/chevron-right.png);
  right: 245px;
}
.slider-ctrl:hover {
  background-color: var(--hover);
}
.slider-ctrl:focus {
  background-color: var(--hover);
}

/* Section PRODUCTS*/

.collection {
  background-color: #e9f0fd;
  width: 1600px;
  margin: 0 auto;
  padding: 100px 0;
}
.products-title {
  font-family: "RobotoBlack", serif;
  font-size: 48px;
  color: #515151;
  text-align: center;
  margin-bottom: 92px;
  text-transform: uppercase;
}
.products-title::after {
  content: "";
  width: 160px;
  height: 6px;
  background-color: var(--hover);
  display: block;
  margin: 32px auto 0;
}
.products-list {
  width: 1140px;
  margin: 0 auto;
}
.products-item {
  float: left;
}
.products-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.products-item-img {
  position: relative;
}
.product-item-mask {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.549);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 235px;
  height: 261px;
}
.mask-icons-list {
  position: absolute;
  width: 174px;
  height: 110px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mask-icons-item {
  width: 48px;
  height: 48px;
  border: 1px solid #ffffff;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
}
.mask-icons-item:nth-child(-1n + 3) {
  margin-bottom: 10px;
}
.mask-icons-item:nth-child(-1n + 2) {
  margin-right: 10px;
}

.mask-icons-item:hover {
  background-color: var(--hover);
  border: none;
  cursor: pointer;
}
.icon-first {
  background-image: url(../img/Icons/mask-icon-first.png);
}
.icon-second {
  background-image: url(../img/Icons/mask-icon-second.png);
}
.icon-third {
  background-image: url(../img/Icons/mask-icon-third.png);
}
.icon-fourth {
  background-image: url(../img/Icons/mask-icon-fourth.png);
  background-position: 12px;
  background-color: #323232;
  padding-right: 12px;
  width: 164px;
  text-align: right;
}
.icon-fourth span {
  display: block;
  color: #ffffff;
  font-family: "OpenSansRegular", serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 48px;
}
.products-caption {
  width: 255px;
  height: 40px;
  background-color: rgb(231, 235, 175);
}
.product-name {
  float: left;
  padding: 0 0 0 14px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #323232;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "RobotoBlack", serif;
  font-size: 18px;
}
.product-cost {
  width: 55px;
  height: 40px;
  line-height: 40px;
  float: right;
  background-color: #8c8c8c;
  color: #ffffff;
  text-align: center;
  font-family: "RobotoBlack", serif;
  font-size: 18px;
}
.product-cost::before {
  content: "$";
}
.products-item:hover .product-name {
  background-color: var(--hover);
}
.products-item:focus .product-name {
  background-color: var(--hover);
}
.products-item:hover .product-cost {
  background-color: #7fd9c7;
}
.products-item:focus .product-cost {
  background-color: #7fd9c7;
}
.products-item:hover .product-item-mask {
  display: block;
}

/* FOOTER */
.footer-cont {
  background-color: rgb(50, 50, 50);
  width: 1600px;
  height: 90px;
  margin: auto;
  text-align: center;
}
.footer-text {
  color: #ffffff;
  font-family: "OpenSansRegular", serif;
  font-size: 16px;
  line-height: 90px;
  font-style: normal;
}
.footer-author-link {
  color: #46bfa9;
}
