@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "RobotoLight";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "RobotoBlack";
    src: url("../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "OpenSansBold";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSansSemiBold";
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "OpenSansRegular";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSansLight";
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}